body {
    background-color: transparent;
    color: #fff;
    font-family: "Roboto";
}

table {
    border: 1px solid #fff;
    background-color: rgba(0,0,0,.75);
    width: 100%;
}

table td {
    padding: 10px;
}

table td.player:hover {
    background-color: grey;
    cursor: pointer;
}

#top {
    position: absolute;
    height: 70px;
    width: 100%;
    background: rgb(0,0,0,.5);
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

#top #left {
    top: 5px;
    width: 33%;
    display: inline-block;
    padding-left: 25px;
    line-height: 5rem;
    font-size: 25px;
}

#top #center {
    text-align: center;
    width: 33%;
    display: inline-block;
}

#top #center #timer {
    font-size: 25px;
    padding-bottom: 5px;
}

#top #center span {
    display: block;
}

#top #right {
    width: 33%;
    display: inline-block;
    text-align: right;
}

#top #right #counter {
    display: inline-block;
    width: 45%;
    margin-right: 10px;
}

#top #right #progress {
    display: inline-block;
    width: 50%;
}

#top #right #progress .progress {
    border-radius: 0px;
    height: 50%;
}

#top #right #progress span {
    position: relative;
    left: -40%;
    width: 100%;
    margin-left: 50%;
    line-height: 1.5rem;
}

#bars {
    position: absolute;
    width: 25%;
    left: 10px;
    top: 80px; 
}

#bars .progress {
    border-radius: 0px;
    margin-bottom: 5px;
}

#bars #health {
    height: 35px;
}

.progress-bar.bg-health {
    background-color: #ff0000;
}

#bars #stamina {
    width: 90%;
    height: 25px;
}

.progress-bar.bg-stamina {
    background-color: #4c0080;
}

.progress {
    --bs-progress-bg: rgba(0,0,0,.75);
}

#notifications {
    width: 15%;
    position: absolute;
    bottom: 25px;
}

.notification {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,1);
}

#notifications .error {
    color: #ff0000;
    padding-bottom: 5px;
}

#notifications .success {
    color: #00803a;
    padding-bottom: 5px;
}

#notifications .warning {
    color: rgba(201, 54, 0, 0.932);
    padding-bottom: 5px;
}

#notifications .title {
    border-bottom: 1px solid white;
    padding: 10px;
    display: block;
}

#notifications .message {
    color: white;
    padding: 10px;
    display: block;
    height: 100%;
}

#spectator-controls {
    position: absolute;
    bottom: 1%;
    left: 35%;
    font-size: 25px;
    text-align: center;
}

.player-name {
    font-weight: bolder;
}

.player-name.witch {
    color: #4c0080;
}

.player-name.townsfolk {
    color: #00803a;
}

#talking {
    background-color: rgba(0,0,0,.75);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    position: absolute;
    bottom: 5px;
    right: 100px;
}

#talking.istalking {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000 !important;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    position: absolute;
    bottom: 5px;
    right: 100px;
}

#witch-hud {
    display: none;
}

#townsfolk-hud {
    display: none;
}

#spectator-hud {
    display: none;
}